doctype html
html
	head
		title Jesus Vilar / Front-end developer
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:100,300,400,700')
		link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Bitter')
		link(rel="stylesheet", href='/dist/assets/css/main.css')
	body
		div#root 
			div(class='content')
				div(class='page contact-page')
					div(class='message') Hi, I'm Jesus Vilar, a front-end developer based in London. Please get in touch if you think I can contribute to your next project.
					div(class='social')
						a(class='social-link icon-twitter', href='https://twitter.com/jebusss', target='_blank')
						a(class='social-link icon-github', href='https://github.com/elhesuu', target='_blank')
						a(class='social-link icon-linkedin', href='https://uk.linkedin.com/in/jesus-vilar-2a385616', target='_blank')