:root, html {
    /* reset base font size so that 1rem = 10px */
    font-size: 62.5%; 
}

html {
    color: $main-color;
    background-color: $background-color;
    font-family: $serif;
    font-weight: 300;
}

body {
    font-size: 1.6rem;
    line-height: 1.4em;
}

.background {

    z-index: 0;
}

.content {
    position: relative;
    z-index: 1;
    min-height: 100vh;

    .is-transitioning & {
        height: 100vh;
        overflow: hidden;
    }
}

.nav {  
    z-index: 2;
}

.main {
	font-size: 1.6rem;
	line-height: 1.5em;

    
}