:root, html {
    /* reset base font size so that 1rem = 10px */
    font-size: 62.5%; 
}

html {
    color: $black;
    background-color: $yellow;
    font-family: $serif;
    font-weight: 300;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-size: 1.6rem;
    line-height: 1.4em;
}

.background {

    z-index: 0;
}

.content {
    position: relative;
    z-index: 1;
}

.nav {
    z-index: 2;
}

.main {
	font-size: 1.6rem;
	line-height: 1.5em;
}
