.contact-page {
	.message {
		@extend large-text;
		text-align: left;
		margin: 0;
	}	
}

.social {
	margin: 1em 0 0;
	text-align: left; 
	font-size: 3.2rem;

	&-link {
		color: $dark;
		display: inline-block;
		margin: 0 1em 0 0;
		transition: color .15s $ease-in-out-cubic,
					transform .25s $ease-in-out-cubic;
		
		.no-touchevents & {
			&:hover {
				transform: translate3d(0, -15%, 0);
				color: $white;
			}
		}
	}
}

@media only screen and (min-width: $large-mobile-landscape) {
	.contact-page {
		.message {
			font-size: 3.1rem;
		}
	}
}

@media only screen and (min-width: $tablet-portrait) {
	.contact-page {
		.message {
			font-size: 3.4rem;
			margin: 2em auto;
			max-width: 75%;
			text-align: center;
		}

		.social {
			margin: 3em 0;
			text-align: center;
		}
	}
}