.page {
	max-width: $tablet-landscape;
	padding: 0 1.66em;
	margin: 10rem 0;
	transition: opacity .5s $ease-in-out-cubic,
				transform .5s $ease-in-out-cubic;
	
	opacity: 0;
	
	&.is-active {
		opacity: 1;
	}
	
	/* React transition */  
	&.page-transition {
		
		
		&-enter {
			opacity: 0;
			position: absolute;
			top: 0;
			transform: translate3d(0, 4rem, 0);
			&.&-active {
				opacity: 1;
				position: inherit;
				top: inherit;
				transform: translate3d(0, 0, 0);
			}
		}
		
		&-leave {
			opacity: 0;
			transform: translate3d(0, -4rem, 0);
			&.&-active {
				opacity: 0;
				transform: translate3d(0, 0, 0);
			}
		}
	}
}

.about-page,
.contact-page {
	margin: 0 auto;
	text-align: center;
	display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate3d(0, -50%, 0);

	&.page-transition {
		&-enter {
			transform: translate3d(0, -30%, 0);
			&.&-active {
				opacity: 1;
				transform: translate3d(0, -50%, 0);
			}
		}

		&-leave {
			transform: translate3d(0, -70%, 0);
			&.&-active {
				transform: translate3d(0, -50%, 0);
			}
		}
	}
}

@media only screen and (min-width: $tablet-portrait) {
	.skills-page,
	.career-page {
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		min-height: 100vh;
	}
}